<main>
    <section class="login-section" id="loginSection">
        <div class="login-container">
            <div class="card-container">
                <h2>Perfil de Usuario</h2>
                <h2>error de login</h2>
                <form action="/api/sessions/logout" method="POST">
                    <button type="submit">Cerrar Sesión</button>
                </form>
            </div>
        </div>

    </section>



</main>