<main>
    <section class="login-section" id="loginSection">
        <div class="login-container">
            <div class="card-container">
                <div class="card-descripcion">
                    <h2>Iniciar Sesión</h2>
                    <form action="/api/sessions/login" method="POST">



                        <div class="login-password">
                            <input type="email" name="email" placeholder="Email" required>
                            <input type="password" name="password" placeholder="Pasword" required>
                        </div>
                        <div class="button-box">
                            <button class="login-button">
                                login
                            </button>
                        </div>
                        <div class="register">
                            <p>
                                <a href="/register">Registrarse</a>
                            </p>
                        </div>
                </div>

            </div>
            </form>
            <div>

            </div>
        </div>
    </section>



</main>